<div class="container">
  <div class="row">
    <div class="col-md-4" style="margin-bottom: 20px;">
      <img src="assets/images/categorie_electromenager.jpg" alt="Grand électroménager" class="img-fluid h-50 w-75">
      <h3>Grand électroménager</h3>
      <button class="btn btn-primary">Voir produits</button>
    </div>


    <div class="col-md-4" style="margin-bottom: 20px;">
      <img src="assets/images/categorie_petit_electromenager.jpg" alt="Petit électroménager" class="img-fluid h-50 w-75">
      <h3>Petit électroménager</h3>
      <button class="btn btn-primary">Voir produits</button>
    </div>
    <div class="col-md-4" style="margin-bottom: 20px;">
      <img src="assets/images/categorie_produits_informatiques.png" alt="Produits informatiques" class="img-fluid h-50 w-75">
      <h3>Produits informatiques</h3>
      <button class="btn btn-primary">Voir produits</button>
    </div>
    <div class="col-md-4" style="margin-bottom: 20px;">
      <img src="assets/images/categorie_smartPhone.jpg" alt="Smart Phones" class="img-fluid h-50 w-75">
      <h3>Smart Phones</h3>
      <button class="btn btn-primary">Voir produits</button>
    </div>
    <div class="col-md-4" style="margin-bottom: 20px;">
      <img src="assets/images/categorie_tv_image_son.jpg" alt="TV, images et son" class="img-fluid h-50 w-75">
      <h3>TV, images et son</h3>
      <button class="btn btn-primary">Voir produits</button>
    </div>
    <div class="col-md-4" style="margin-bottom: 20px;">
      <img src="assets/images/produits_nettoyages.jpg" alt="Produits voitures" class="img-fluid h-50 w-75">
      <h3>Produits voiture</h3>
      <button class="btn btn-primary">Voir produits</button>
    </div>
  </div>
</div>
